/* write your override styles here */
#wall {
  z-index: -1;
}

#wall .tag-1 {
  display: none;
}

#wall #tag-2 {
  display: none;
}

#tag-3.slick {
  display: none;
}

/*.parent #tag-1 {
  display: none;
}

#wall .tag-1 {
  display: none;
}

#wall .tag-1 {
  display: none;
}*/
